@import url("https://fonts.googleapis.com/css?family=Poppins");
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center; }

.hide {
  display: none !important; }

.mobile-content {
  height: 100%;
  width: 100%; }

.screensize {
  display: none; }

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1); } }

.nav-item {
  text-align: left; }

.nav-item a {
  padding: 4px 0; }

.bg-trans {
  background-color: rgba(0, 0, 0, 0.2); }

.navbar-brand {
  padding: 0.2rem 1rem !important; }

.navbar-brand img {
  max-height: 1.5rem;
  max-width: 1.5rem;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

.navbar-nav li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both; }

.navbar-nav li:nth-child(1) {
  animation-delay: .25s; }

.navbar-nav li:nth-child(2) {
  animation-delay: .5s; }

.navbar-nav li:nth-child(3) {
  animation-delay: .75s; }

.navbar-nav li:nth-child(4) {
  animation-delay: 1s; }

.navbar-nav li:nth-child(5) {
  animation-delay: 1.25s; }

.navbar-nav li:nth-child(6) {
  animation-delay: 1.5s; }

/* Animation */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both; }

.animatedFadeInUp {
  opacity: 0; }

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

@media only screen and (min-width: 1224px) {
  .navbar-brand {
    padding: auto auto !important; }
  .navbar-brand img {
    max-height: 2.5rem;
    max-width: 2.5rem; }
  .nav-item a {
    padding: auto; } }

.carousel-image {
  position: relative;
  opacity: 0.75 !important;
  background-position: center top !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  -webkit-transition: background 1000ms ease-in 500ms;
  -moz-transition: background 1000ms ease-in 500ms;
  -o-transition: background 1000ms ease-in 500ms;
  -ms-transition: background 1000ms ease-in 500ms;
  transition: background 1000ms ease-in 500ms; }

.parallax1 {
  background: url(../assets/contagious1.png);
  min-height: 50%; }

.parallax2 {
  background: url(../assets/contagious2.png);
  min-height: 50%; }

.parallax3 {
  background: url(../assets/contagious3.png);
  min-height: 50%; }

@media only screen and (min-device-width: 361px) {
  .parallax1 {
    background: url(../assets/contagious1.png);
    background-size: 100% 98% !important;
    min-height: 100%; }
  .parallax2 {
    background: url(../assets/contagious2.png);
    background-size: 100% 98% !important;
    min-height: 100%; }
  .parallax3 {
    background: url(../assets/contagious3.png);
    background-size: 100% 98% !important;
    min-height: 100%; } }

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .parallax1 {
    background: url(../assets/contagious1.png);
    min-height: 50%; }
  .parallax2 {
    background: url(../assets/contagious2.png);
    min-height: 50%; }
  .parallax3 {
    background: url(../assets/contagious3.png);
    min-height: 50%; } }

.desktop-content {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color 300ms ease;
  width: 100%; }

#hero-vid {
  backface-visibility: hidden;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  perspective: 1000;
  position: fixed;
  right: 0;
  width: auto;
  z-index: -1; }

.loader {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../assets/vidloading.gif") 50% 50% no-repeat black;
  background-size: 20% 20%; }

.splash {
  position: absolute;
  color: #fff;
  font-size: 850%;
  top: 28%;
  width: 100%;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #c0c0c0;
  font-weight: 300;
  line-height: 100%;
  margin-right: auto;
  margin-left: auto; }

.splash span {
  color: #fccb07 !important; }

.strapline {
  opacity: 0;
  animation-name: fade;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }

.splash p:nth-child(1) {
  animation-delay: 0s; }

.splash p:nth-child(2) {
  animation-delay: 5s; }

.splash p:nth-child(3) {
  animation-delay: 10s; }

@keyframes fade {
  0% {
    opacity: 0; }
  11.11% {
    opacity: 1; }
  33.33% {
    opacity: 1; }
  44.44% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tagline {
  color: #fff;
  font-size: 12%;
  text-align: center;
  width: 100%;
  letter-spacing: 0.05em;
  line-height: 100%;
  margin-bottom: 16px; }

.btn-holder {
  position: absolute;
  color: #fff;
  top: 36%;
  width: 100%;
  display: flex;
  justify-content: center; }

.btn-box {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.5) !important;
  background: transparent;
  color: #fff;
  font-weight: bold;
  padding: 0.6em 0.8em 0.4em 0.8em;
  font-size: 10px;
  line-height: 18px;
  margin: 0 3px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none !important; }

@media only screen and (min-device-width: 361px) {
  .btn-holder {
    top: 68%; } }

@media only screen and (min-width: 1224px) {
  .btn-box {
    padding: 0.8em 1em;
    font-size: 12px;
    line-height: 24px;
    margin: 0 5px; }
  .btn-holder {
    top: 52%; } }
